player-connection-mode=Connect
player-connection-guid=2226241825
player-connection-debug=0
player-connection-project-name=UnityEnvironment
player-connection-wait-timeout=-1
player-connection-ip=10.5.0.2
player-connection-ip=192.168.106.77
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=383895c5b4d94d53a4dc024a8c671337
